@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

:root{
	--color: #88abc2 ;
	--dark-porc: 17%;
	--ligh-por: 95%;
	--normal-porc: 100%;
	--color-white: hsl(252,30%,var(--normal-porc)) ;
	--color-light: hsl(185,48%,var(--ligh-por)) ;
	--color-gray: hsl(252,15%,65%) ;
	--color-primary: var(--color);
	--color-secondary: hsl(252,100%,90%) ;
	--color-succes: rgb(92, 184, 92);
	--color-danger: rgb(217, 83, 79) ;
	--color-dark: hsl(252,30%,var(--dark-porc)) ;
	--color-black: 	rgb(41, 43, 44) ;

	--border-radius: 2rem;
	--card-border-radius: 1rem;
	--btn-padding: 0.6rem 2rem;
	--search-padding: 0.6rem 1rem;
	--card--padding: 1rem;

	--sticky-top-left:5.4rem;
	--sticky-top-right: -18rem;	
}

*, *::before, *::after{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border: none;
}

body{
	font-family: 'Montserrat', sans-serif !important;
	color: var(--color-dark);
	background: var(--color-light);
	overflow-x: hidden;
}


/*General Styles*/

.container{
	width: 80%;
	margin: 0 auto;
}

.profile-picture{
	width: 3.3rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
}

a{
	color: var(--color-dark);
}

img{
	display: block;
	width: 100%
}

span{
	cursor: pointer;	
}

.CP{
	cursor: pointer;
}

.btn{
	display: inline-block;
	padding: var(--btn-padding);
	font-weight: 500;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all 300ms ease;
	font-size: 0.9rem;
}

.btn:hover{
	opacity: 0.8;
}

.btn-primary{
	background: var(--color-primary);
	color: var(--color-white);
}

.text bold{
	font-weight: 500;
}

.text-muted{
	color: var(--color-gray);
}

nav{
	width: 100%;
	background: var(--color-white);
	padding: 0.7rem 0;
	position: fixed;
	top: 0;
	z-index: 10;
}

nav .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-bar{
	background: var(--color-light);
	border-radius: var(--border-radius);
	padding: var(--search-padding);
}

.search-bar input[type="search"]{
	background: transparent;
	width: 30vw;
	margin-left: 0.8rem;
	color: var(--color-dark);	
}


nav .create{
	display: flex;
	align-items: center;
	gap: 2rem;
}

/*--------Main--------*/

main{
	position: relative;
	top: 5.4rem;

}

main .container{
	display: grid;
	grid-template-columns: 18vw auto 20vw;
	column-gap: 2rem;
	position: relative;
}

/*------lwft-------*/

main .container .left{
	height: max-content;
	position: sticky;
	top: var(--sticky-top-left);

}

main .container .left .profile{
	padding: var(--card--padding);
	background: var(--color-white);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	column-gap: 1rem;
	width: 100%;

}

/*-------slidbar-------*/

.left .slidebar{
	margin-top: 1rem;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
}

.left .slidebar .menu-item{
	display: flex;
	align-items: center;
	height: 4rem;
	cursor: pointer;
	transition: all 300ms ease;
	position: relative;

}

.left .slidebar .menu-item:hover{
	background: var(--color-light);

}

.spn{
	margin-left: -9px !important;
}

.left .slidebar span{
	font-size: 1.4rem;
	color: var(--color-gray);
	margin-left: 2rem;
	position: relative;
}

.left .slidebar .notifications-count{
	background: var(--color-danger);
	color: var(--color-white);
	font-size: 0.7rem;
	width: fit-content;
	border-radius: 0.8rem;
	padding: 0.1rem 0.4rem;
	position: absolute;
	top -0.2rem;
	right: -0.3rem;
}

.left .slidebar h3{
	margin-left: 1.5rem;
	font-size: 1rem;
}

.left .slidebar .active{
	background: var(--color-light);
}

.left .slidebar .active span, .left .slidebar .active h3 {
	color: var(--color-primary);
}

.left .slidebar .active::before{
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	background: var(--color-primary);
}

.left .slidebar .menu-item:first-child.active{
	border-top-left-radius: var(--card-border-radius);
	overflow: hidden;
}

.left .slidebar .menu-item:last-child.active{
	border-top-left-radius: var(--card-border-radius);
	overflow: hidden;
}

.left .btn{
	margin-top: 1rem;
	width: 100%;
	text-align: center;
	padding: 1rem;
}

/*----notification--*/

.left .notifications-popup{
	position: absolute;
	top: 0;
	left: 110%;
	width: 30rem;
	background: var(--color-white);
	border-radius: var(--border-radius);
	padding: var(--card--padding);
	box-shadow: 2 0 2rem var(--color-primary);
	z-index: 8;
	display: none;
}

.left .notifications-popup::before{
	content: "";
	width: 1.2rem;
	height: 1.2rem;
	display: block;
	background-color: var(--color-danger);
	position: absolute;
	left: -0.6rem;
	transform: rotate(45deg);
}

.left .notifications-popup > div{
	display: flex;
	align-items: start;
	gap: 1rem;
	margin-bottom: 1rem;
}

.left .notifications-popup small{
	display: block;
}

/*Story*/

.middle .stories{
	display: flex;
	justify-content: space-between;
	height: 12rem;
	gap: 0.5rem;
}

.middle .stories .story{
	padding: var(--card--padding);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 0.75rem;
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.middle .stories .story::before{
	content: "";
	display: block;
	width: 100%;
	height: 5rem;
	background: linear-gradient(transparent, var(--color-primary));
	position: absolute;
	bottom: 0;
}

.middle .stories .story .name{
	z-index: 2;
}

.middle .stories .story:nth-child(1){
	background: url("../assets/man-exploring-globe.webp") no-repeat center center/cover;
}

.middle .stories .story:nth-child(2){
	background: url("../assets/story-1.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(3){
	background: url("../assets/story-2.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(4){
	background: url("../assets/story-3.webp") no-repeat center center/cover;
}

.middle .stories .story:nth-child(5){
	background: url("../assets/story-4.jpg") no-repeat center center/cover;
}

.middle .story .profile-picture{
	width: 2rem;
	height: 2rem;
	align-self: start;
	border: 2px solid var(--color-primary);
}

/*Crear POST*/

.middle .create-post{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	background: var(--color-white);
	padding: 0.4rem var(--card--padding);
	border-radius: var(--border-radius);
}

.middle .create-post input[type="text"]{
	justify-self: start;
	width: 100%;
	padding-left: 1rem;
	background: transparent;
	color: var(--color-dark);
	margin-right: 1rem;
}

/*Feed*/

.middle .feeds .feed{
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card--padding);
	margin: 1rem 0;
	font-size: 0.85rem;
	line-height: 1.5;
}

.middle .feed .head{
	display: flex;
	justify-content: space-between;

}

.middle .feed .user{
	display: flex;
	gap: 1rem;
}

.middle .feed .photo{
	border-radius: var(--card-border-radius);
	overflow: hidden;
	margin: 0.7rem 0;

}

.middle .feed .action-button{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	margin: 0.6rem;
}

.middle .liked-by{
	display: flex;
}

.middle .liked-by .span-img{
	margin-top: -2px;
	width: 1.4rem;
	height: 1.4rem;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid var(--color-white);
	margin-left: -0.6rem;
}



.middle .liked-by p{
	margin-left: 0.5rem;
}

main .container .right {
	height: max-content;
	position: sticky;
	top: var(--sticky-top-right);
	bottom: 0;
}

.right .message{
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card--padding);
}

.right .message .heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.right .message span{
	font-size: 1.4rem;
}

.right .message .search-bar{
	display: flex;
	margin-bottom: 1rem;
}

.right .message .category{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.right .message .category h6{
	width: 100%;
	text-align: center;
	border-bottom: 4px solid var(--color-light);
	padding-bottom: 0.5rem;
	font-size: 0.85rem;
}

.right .message .category .active{
	border-bottom: 4px solid var(--color-gray);
}

.right .message .message-request{
	color: var(--color-primary);
}

.right .message .messag{
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	align-items: start;
	cursor: pointer;
}

.right .message ,profile-picture{
	position: relative;
	overflow: visible;
}

.right .profile-picture img{
	border-radius: 50%;
}

.right .message .messag:last-child{
	margin: 0;
}

.right .message .messag p{
	font-size: 0.8rem;
}

.right .message .messag .profile-picture .active {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	border: 3px solid var(--color-white);
	background: var(--color-succes);
	position: absolute;
	margin-top: -15px;
	margin-left: 10px;
}

.right .message .messag .message-body{
	margin-top: 11px !important;
}

.right .friend-request{
	margin-top: 1rem;
}

.right .friend-request h4{
	color: var(--color-gray);
	margin: 1rem 0;
}

.right .request{
	background: var(--color-white);
	padding: var(--card--padding);
	border-radius: var(--card-border-radius);
	margin-bottom: 0.7rem;
} 

.right .request .info{
	display: flex;
	gap: 1rem;
	margin: 5px;
	cursor: pointer;	

}

.right .request .info .message-body-request{
	margin-top: 6px !important;
}

.right .request .action{
	display: flex;
	gap: 1rem;
}

.customize-theme{
	background: rgba(255,255,255,0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 100;
	text-align: center;
	display: grid;
	place-items: center;
	font-size: 0.9rem;
	display: none;
}

.customize-theme .card{
	background: var(--color-white);
	padding: 3rem;
	border-radius: var(--border-radius);
	width: 50%;
	box-shadow: 0 0 1rem var(--color-primary);
}

.customize-theme .font-size{
	margin-top: 5rem;
}

.customize-theme .font-size > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-light);
	padding: var(--search-padding);
	border-radius: var(--card-border-radius);
}

.customize-theme .choose-size{
	background: var(--color-secondary);
	height: 0.3rem;
	width: 100%;
	margin-top: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center ;
}

.customize-theme .choose-size span{
	width: 1rem;
	height: 1rem;
	background: var(--color-secondary);
	border-radius: 50%;
	cursor: pointer;
	margin-top: -2px;
}

.customize-theme .choose-size .active{
	background: var(--color-primary);
}

.customize-theme .color{
	margin: 2rem;

}

.customize-theme .choose-color{
	background: var(--color-light);
	padding: var(--search-padding);
	border-radius: var(--card-border-radius);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.customize-theme .choose-color span{
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1){
	background: #88abc2;
}

.customize-theme .choose-color span:nth-child(2){
	background: #d88a8a;	
}

.customize-theme .choose-color span:nth-child(3){
	background: #e8c8a1;	
}

.customize-theme .choose-color span:nth-child(4){
	background: #ff667c;	
}

.customize-theme .choose-color span:nth-child(5){
	background: #c6e5d9;	
}

.customize-theme .choose-color .active{
	border: 3px solid var(--color-succes);
}

.customize-theme .background{
	margin-top: 2rem;
}

.customize-theme .choose-bg{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
}

.customize-theme .choose-bg > div{
	padding: var(--card--padding);
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 0.4rem;
	cursor: pointer;
}

.customize-theme .choose-bg > div.active{
	border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1{
	background: var(--color-white);
	color: var(--color-black);
}

.customize-theme .choose-bg .bg-2{
	background: var(--color-gray);
	color: var(--color-white);
}

.customize-theme .choose-bg .bg-3{
	background: var(--color-black);
	color: var(--color-white);
}

.customize-theme .choose-bg > div span{
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--color-primary);
	border-radius: 50%;
	margin-right: 1rem;
}
@media screen and (max-width: 1100px){
	.right .message .category h6{
		font-size: 0.7rem;
	}
	.right .request .action{
	display: flex;
	flex-direction: column;
}
	.right .message{
	min-width: 150px;
	}
	.right .message .profile-picture{
		height: 2.3rem;
		width: 2.3rem;
	}
}
@media screen and (max-width: 1015px){
	.container{
		width: 95%
	}

	.profile{
		min-width: 140px;
		display: flex;
		flex-direction: column;
	}


	.main-container{
		grid-template-columns: 4rem auto 32vw;
		gap: 1rem;
	}

	.right .message .category h6{
		font-size: 0.6rem;
	}

	.left{
		width: 7rem;
		z-index: 5;
	}

	.spn{
		margin-left: 10px !important;
	}

	.main-container .left .profile{
		display: none;
	}

	.slidebar h3{
		display: none;
	}

	.left .btn{
		display: none;
	}

	.customize-theme .card{
		width: 80vw;
	}

	.right .message{
		max-height: 570px;
		min-width: 100px;
	}

	.right .message .profile-picture{
		height: 2rem;
		width: 2rem;
	}
}

@media screen and (max-width: 992px){
	nav .search-bar{
		display: none;
	}
	main .container{
		grid-template-columns: 0 auto 5rem;
	}
	main .container .left{
		grid-column: 3/4;
		position: fixed;
		bottom: 0;
		right: 0;
	}
	.left .profile .profile-picture{
		margin-right: 8px !important;
	}
	.left .profile .handle{
		font-size: 0.9rem;
		margin-right: 8px !important;		
	}
	.left .notifications-popup::before{
		display: absolute;
		top: 1.3rem;
		left: calc(20rem - 0.6rem);
		display: block;
	}

	main .container .left .slidebar > div h3{
		display: none;
	}
	main .container .middle{
		grid-column: 1/3;
	}

	main .container .right{
		display: none;
	}
	.customize-theme .card{
		width: 90vw;
	}
}

@media screen and (max-width: 622px){
	main .container{
		grid-template-columns: 0 auto 1rem !important;
	}	
	.left .profile{
		display: none !important;
	}
	.left{
		max-width: 30px;
	}
	.spn{
		margin-left: -30px !important;
	}
}